<li [ngClass]="{'list-group-item': true,
               'list-group-item-success': loveIts>0,
               'list-group-item-danger': !(loveIts>0) && loveIts!=0}">
    <span style="float: right">{{created_at | date : 'short'}}</span>
    <h2 >{{title}}   [love : {{loveIts}}]</h2>
    <P > {{content}}</P>
    <button class="btn btn-success" (click)="loveIt()"> Love it</button>
    <button class="btn btn-danger" (click)="unLoveIt()">Unlove it</button>
</li>
