<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 >{{title}}</h2>
        <app-post-list-component [arrayPost]="listePost"></app-post-list-component>
      </div>
    </div>
  </div>