<ul class="list-group">
    <app-post-list-item-component *ngFor="let poste of arrayPost"
                                [title]="poste.title"
                                [content]="poste.content"
                                [created_at]="poste.created_at"
                                [loveIts]="poste.loveIts">
    </app-post-list-item-component>
</ul>