ne<!--The content below is only a placeholder and can be replaced.-->
<div class="contener">
  <div class="row">
    <div class="col-xs-12">
     <h4 style="text-align:center">Liste des postes</h4>
     <ul class="list-group" *ngFor="let post of posts">
      <li class="list-group-item">{{post.content}}</li>
    </ul>
    </div>
  </div>
</div>

